<md-card>
  <md-card-subtitle>ＩＤ：{{marker.id}}</md-card-subtitle>
</md-card>

<app-survey-image [partName]="partName1"></app-survey-image>
<app-survey-image [partName]="partName2"></app-survey-image>
<app-survey-image [partName]="partName3"></app-survey-image>
<app-survey-image [partName]="partName4"></app-survey-image>
<app-survey-image [partName]="partName5"></app-survey-image>
<app-survey-image [partName]="partName6"></app-survey-image>
<app-survey-image [partName]="partName7"></app-survey-image>
